body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #D5E1EF;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

main > section {
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 12px 18px -2px rgba(0, 0, 0, 0.1);
}

main > a {
    position: absolute;
    top: 1em;
    left: 1em;
    display: flex;
    font-size: 1.8em;
    font-family: Outfit;
    font-weight: 700;
    padding: auto auto;
    color: black;
    text-decoration: none;
}

main > a > svg {
    color: black;
    width: 1em;
    height: 1em;
    padding-right: .5em;
}

main > section > img {
    border-radius: 10px;
    margin: 20px 20px; 
}

main > section > h1,
main > section > p {
    font-family: Outfit;
    text-align: center;
    margin: auto;
}

main > section > h1 {
    font-weight: 700;
    line-height: 3vh;
    padding: 0 15px 20px 15px;
}

main > section > p {
    width: 250px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: gray;
}

footer,
footer > a {
    font-family: Outfit;
    font-weight: 700;
}

footer {
    position: relative;
    bottom: 5vh;
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: rgb(36, 160, 36);
}

/* ==================== Responsive design for mobile ==================== */

@media only screen and (max-width: 375px) {

    main > section {
        width: 275px;
        height: 410px;
    }
    
    main > section > img {
        width: 245px;
        height: 245px;
        margin: 15px 15px;
    }
    
    main > section > h1 {
        width: 220px;
        font-size: 18px;
    }

    main > section > p {
        width: 220px;
        font-size: 13px;
        font-weight: 400;
        line-height: 2vh;
    }

    footer,
    footer > a {
        font-size: 4vw;
    }
}

/* ==================== Responsive design for desktop ==================== */

@media only screen and (min-width: 376px) {

    main > section {
        width: 325px;
        height: 510px;
    }
    
    main > section > img {
        width: 285px;
        height: 285px;
    }
    
    main > section > h1 {
        width: 275px;
        font-size: 25px;
        line-height: 32px;
    }
}