body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #F0F0F0;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 75vh;
    margin: auto;
    background-color: #D5E1EF;
    box-shadow: 0px 12px 24px 2px rgba(0, 0, 0, 0.2);
}

section > article {
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 12px 18px -2px rgba(0, 0, 0, 0.1);
}

section > article > img {
    border-radius: 10px;
    margin: 25px 25px; 
}

section > article > .p__main,
section > article > p {
    font-family: Outfit;
    text-align: center;
    margin: auto;
}

section > article > p {
    width: 250px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 25px;
}

.attribution,
.attribution > a {
    font-family: Outfit;
    font-weight: 700;
}

.attribution {
    position: relative;
    bottom: 9vh;
    text-align: center;
}

.attribution > a {
    text-decoration: none;
    color: rgb(36, 160, 36);
}

/* ==================== Responsive design for mobile ==================== */

@media only screen and (max-width: 375px) {
    
    section {
        height: 65vh;
    }

    section > article {
        width: 75vw;
        height: 75vh;
    }
    
    section > article > img {
        width: 60vw;
        height: 30vh;
    }
    
    section > article > .p__main {
        width: 60vw;
        font-size: 5vw;
        font-weight: 700;
        line-height: 3vh;
        padding: 0 15px 10px 15px;
    }

    section > article > p {
        width: 60vw;
        font-size: 4.5vw;
        font-weight: 400;
        line-height: 2vh;
        padding: 0 25px;
    }

    .attribution,
    .attribution > a {
        font-size: 4vw;
    }
}

/* ==================== Responsive design for desktop ==================== */

@media only screen and (min-width: 376px) {

    section > article {
        width: 350px;
        height: 550px;
    }
    
    section > article > img {
        width: 300px;
        height: 300px;
    }
    
    section > article > .p__main {
        width: 275px;
        font-size: 25px;
        font-weight: 700;
        line-height: 32px;
        padding: 0 15px 20px 15px;
    }
}